In [2]:
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [24]:
d1 = f'/data22/bde/Data/artifact/data/table3-system_evaluation/D1.csv'
d2 = f'/data22/bde/Data/artifact/data/table3-system_evaluation/D2.csv'
df = pd.read_csv(d2)
df = df.drop(columns=['irat_rsrp', 'irat_rsrq'])
df.info()
#df.describe()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1530663 entries, 0 to 1530662
Data columns (total 24 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   TIME_STAMP       1530663 non-null  object
 1   lon              1530663 non-null  float64
 2   lat              1530663 non-null  float64
 3   speed            1530572 non-null  float64
 4   technology       1530663 non-null  object
 5   lte_band         1530662 non-null  object
 6   lte_serv_rsrp    1530662 non-null  float64
 7   lte_serv_rsrq    1530662 non-null  float64
 8   lte_serv_rssi    1530662 non-null  float64
 9   lte_cqi0         1530657 non-null  float64
 10  lte_cqi1         1530657 non-null  float64
 11  nr_band          1530009 non-null  object
 12  nr_serv_rsrp     1530585 non-null  float64
 13  nr_serv_rsrq     1530585 non-null  float64
 14  nr_serv_sinr     1530575 non-null  float64
 15  nr_cqi           1530025 non-null  float64
 16  dl_tput          1530663 non-null  float64
 17  ul_tput          1530663 non-null  float64
 18  lte_nbr_rsrp     1530662 non-null  float64
 19  lte_nbr_rsrq     1530662 non-null  float64
 20  nr_nbr_rsrp      1527792 non-null  float64
 21  nr_nbr_rsrq      1527792 non-null  float64
 22  lte_ho_category  1530663 non-null  object
 23  nr_ho_category   1530663 non-null  object
dtypes: float64(18), object(6)
memory usage: 280.3+ MB

,TIME_STAMP,lon,lat,speed,technology,lte_band,lte_serv_rsrp,lte_serv_rsrq,lte_serv_rssi,lte_cqi0,lte_cqi1,nr_band,nr_serv_rsrp,nr_serv_rsrq,nr_serv_sinr,nr_cqi,dl_tput,ul_tput,lte_nbr_rsrp,lte_nbr_rsrq,nr_nbr_rsrp,nr_nbr_rsrq,lte_ho_category,nr_ho_category
0,2021-06-07 15:31:23.000000,-87.630547,41.878319,NaN,NSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,no_handover,no_handover
1,2021-06-07 15:31:23.126786,-87.630547,41.878319,NaN,NSA,Band 66,-75.00,-11.13,-43.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,-78.13,-13.19,NaN,NaN,no_handover,no_handover
2,2021-06-07 15:31:23.127045,-87.630547,41.878319,NaN,NSA,Band 66,-75.06,-10.75,-44.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,-78.13,-13.19,NaN,NaN,no_handover,no_handover
3,2021-06-07 15:31:23.127307,-87.630547,41.878319,NaN,NSA,Band 66,-75.13,-11.31,-43.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,-78.13,-13.19,NaN,NaN,no_handover,no_handover
4,2021-06-07 15:31:23.127554,-87.630547,41.878319,NaN,NSA,Band 66,-75.13,-11.25,-43.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,-78.13,-13.19,NaN,NaN,no_handover,no_handover

In [27]:
test = df.tail(-10000).head(-10000)
test['date'] = pd.to_datetime(df['TIME_STAMP'])
test = test.drop(columns=['TIME_STAMP'])
test['technology'] = test['technology'].astype('category')
test['lte_band'] = test['lte_band'].astype('category')
test['nr_band'] = test['nr_band'].astype('category')
test['lte_ho_category'] = test['lte_ho_category'].astype('category')
test['nr_ho_category'] = test['nr_ho_category'].astype('category')
test.info()
test.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1510663 entries, 10000 to 1520662
Data columns (total 24 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   lon              1510663 non-null  float64
 1   lat              1510663 non-null  float64
 2   speed            1510663 non-null  float64
 3   technology       1510663 non-null  category
 4   lte_band         1510663 non-null  category
 5   lte_serv_rsrp    1510663 non-null  float64
 6   lte_serv_rsrq    1510663 non-null  float64
 7   lte_serv_rssi    1510663 non-null  float64
 8   lte_cqi0         1510663 non-null  float64
 9   lte_cqi1         1510663 non-null  float64
 10  nr_band          1510663 non-null  category
 11  nr_serv_rsrp     1510663 non-null  float64
 12  nr_serv_rsrq     1510663 non-null  float64
 13  nr_serv_sinr     1510663 non-null  float64
 14  nr_cqi           1510663 non-null  float64
 15  dl_tput          1510663 non-null  float64
 16  ul_tput          1510663 non-null  float64
 17  lte_nbr_rsrp     1510663 non-null  float64
 18  lte_nbr_rsrq     1510663 non-null  float64
 19  nr_nbr_rsrp      1510663 non-null  float64
 20  nr_nbr_rsrq      1510663 non-null  float64
 21  lte_ho_category  1510663 non-null  category
 22  nr_ho_category   1510663 non-null  category
 23  date             1510663 non-null  datetime64[ns]
dtypes: category(5), datetime64[ns](1), float64(18)
memory usage: 226.2 MB

,lon,lat,speed,technology,lte_band,lte_serv_rsrp,lte_serv_rsrq,lte_serv_rssi,lte_cqi0,lte_cqi1,nr_band,nr_serv_rsrp,nr_serv_rsrq,nr_serv_sinr,nr_cqi,dl_tput,ul_tput,lte_nbr_rsrp,lte_nbr_rsrq,nr_nbr_rsrp,nr_nbr_rsrq,lte_ho_category,nr_ho_category,date
10000,-87.630104,41.878136,1.0,NSA,Band 66,-68.81,-9.44,-36.81,9.0,11.0,n5,-66.88,-12.19,6.37,9.0,0.003,0.147,-78.5,-17.44,-68.12,-14.72,no_handover,no_handover,2021-06-07 15:33:12.655351
10001,-87.630104,41.878136,1.0,NSA,Band 66,-67.75,-10.13,-34.94,9.0,11.0,n5,-66.88,-12.19,6.37,9.0,0.003,0.147,-78.5,-17.44,-68.12,-14.72,no_handover,no_handover,2021-06-07 15:33:12.656318
10002,-87.630104,41.878136,1.0,NSA,Band 66,-67.75,-10.13,-34.94,9.0,11.0,n5,-66.88,-12.19,6.37,12.0,0.003,0.147,-78.5,-17.44,-68.12,-14.72,no_handover,no_handover,2021-06-07 15:33:12.664923
10003,-87.630104,41.878136,1.0,NSA,Band 66,-67.75,-10.13,-34.94,9.0,11.0,n5,-66.88,-12.19,7.57,12.0,0.003,0.147,-78.5,-17.44,-68.12,-14.72,no_handover,no_handover,2021-06-07 15:33:12.665784
10004,-87.630104,41.878136,1.0,NSA,Band 66,-67.75,-10.13,-34.94,11.0,9.0,n5,-66.88,-12.19,7.57,12.0,0.003,0.147,-78.5,-17.44,-68.12,-14.72,no_handover,no_handover,2021-06-07 15:33:12.666474

In [29]:
test['technology'].unique()

['NSA', 'LTE']
Categories (2, object): ['LTE', 'NSA']

In [30]:
test['lte_band'].unique()

['Band 66', 'Band 5', 'Band 13', 'Band 2']
Categories (4, object): ['Band 13', 'Band 2', 'Band 5', 'Band 66']

In [31]:
test['nr_band'].unique()

['n5', 'n260', 'n261']
Categories (3, object): ['n260', 'n261', 'n5']

In [32]:
test['lte_ho_category'].unique()

['no_handover', 'lte_pcell_intra', 'lte_pcell_inter']
Categories (3, object): ['lte_pcell_inter', 'lte_pcell_intra', 'no_handover']

In [33]:
test['nr_ho_category'].unique()

['no_handover', 'nsa_scgr', 'nsa_scga', 'nsa_scgm']
Categories (4, object): ['no_handover', 'nsa_scga', 'nsa_scgm', 'nsa_scgr']